@import '../../../../styles.scss';

.intro-inner {
  height: 100vh;
  background-color: $clr-white;

  .intro-head {
    background-color: $clr-white;
    z-index: 1;

    h1 {
      font-size: 9.5rem;
      text-transform: uppercase;
    }
  }

  .intro-banner {
    height: 480px;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    video {
      display: block;
      border-radius: .5rem;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .intro-text {
    font-size: 1.5rem;
    p {
      max-width: 35ch;
      text-wrap: balance;
    }
  }
}

.e {
  height: 100vh;
  background-color: aliceblue;
}