<main>
  <section
    class="intro-inner flex flex-col between-center lr-padding tb-padding-lg"
  >
    <div class="intro-head">
      <h1>Multimedia Designer</h1>
      <div class="line"></div>
    </div>
    <div class="intro-banner">
      <video src="../../../../assets/videos/showcase.mp4" autoplay loop></video>
    </div>
    <div class="intro-text flex between-center end w-full">
      <p>
        Always thinking out of the box, been through many trial and errors, it's my one and only goal to achieve my fullest potential.
      </p>
      <p>[Scroll]</p>
    </div>
  </section>
  <section class="e">
    <div class="header">

    </div>
    <div class="body">

    </div>
  </section>
</main>

