<main>
  <section class="intro-inner">
    <div class="container">
      <div class="text-wrapper">
        <p>[CREATIVE DESIGNER]</p>
        <p>[LEGAZPI, PH]</p>
      </div>
      <h1 class="title">Caenar Arteta</h1>
    </div>
    <div class="intro-banner">
      <div class="video-container">
        <video autoplay loop>
          <source
            src="../../../../assets/videos/showreel.mp4"
            type="video/mp4"
          />
        </video>
      </div>
    </div>
  </section>
  <section class="about-inner">
    <div
      class="float-img"
      style="background-image: url(../../../../assets/images/myself.jpg)"
    ></div>
    <div class="container">
      <h1 class="section-title">/ About me</h1>
      <h2>
        With four years of professional experience in graphic design, I bring a
        dynamic blend of creativity and expertise to every project. Specializing
        in branding projects, I offer a versatile skill set that encompasses
        various aspects of graphic design, from video editing to social media
        ads and more.
      </h2>
      <div class="cta">
        <a href="/about">Get to know me</a>
      </div>
    </div>
  </section>
  <section class="skill-inner">
    <h1 class="section-title">/ SERVICES</h1>
    <div class="container">
      <div class="item">
        <div class="title">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73.32 73.32">
            <path
              d="M73.32,36.66a.49.49,0,0,1-.43.49c-28.21,4.19-31.55,7.54-35.74,35.74a.51.51,0,0,1-.49.43.5.5,0,0,1-.49-.43C32,44.68,28.63,41.34.43,37.15A.51.51,0,0,1,0,36.66a.5.5,0,0,1,.43-.49C28.64,32,32,28.63,36.17.43A.51.51,0,0,1,36.66,0a.5.5,0,0,1,.49.43C41.34,28.64,44.69,32,72.89,36.17A.51.51,0,0,1,73.32,36.66Z"
            />
          </svg>
          <h2>Branding</h2>
        </div>
        <div class="text">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores
            numquam pariatur vel ab nulla nostrum obcaecati corrupti unde
            repellendus possimus corporis, eligendi provident odio voluptatibus
            in veniam nisi quaerat quidem?
          </p>
          <div class="list">
            <p>Art Direction</p>
            <p>Brand Guidelines</p>
            <p>Design Concept</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="title">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73.32 73.32">
            <path
              d="M73.32,36.66a.49.49,0,0,1-.43.49c-28.21,4.19-31.55,7.54-35.74,35.74a.51.51,0,0,1-.49.43.5.5,0,0,1-.49-.43C32,44.68,28.63,41.34.43,37.15A.51.51,0,0,1,0,36.66a.5.5,0,0,1,.43-.49C28.64,32,32,28.63,36.17.43A.51.51,0,0,1,36.66,0a.5.5,0,0,1,.49.43C41.34,28.64,44.69,32,72.89,36.17A.51.51,0,0,1,73.32,36.66Z"
            />
          </svg>
          <h2>Web Design</h2>
        </div>
        <div class="text">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores
            numquam pariatur vel ab nulla nostrum obcaecati corrupti unde
            repellendus possimus corporis, eligendi provident odio voluptatibus
            in veniam nisi quaerat quidem?
          </p>
          <div class="list">
            <p>Wireframing</p>
            <p>Responsive Design</p>
            <p>UX Writing</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="title">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73.32 73.32">
            <path
              d="M73.32,36.66a.49.49,0,0,1-.43.49c-28.21,4.19-31.55,7.54-35.74,35.74a.51.51,0,0,1-.49.43.5.5,0,0,1-.49-.43C32,44.68,28.63,41.34.43,37.15A.51.51,0,0,1,0,36.66a.5.5,0,0,1,.43-.49C28.64,32,32,28.63,36.17.43A.51.51,0,0,1,36.66,0a.5.5,0,0,1,.49.43C41.34,28.64,44.69,32,72.89,36.17A.51.51,0,0,1,73.32,36.66Z"
            />
          </svg>
          <h2>Web Development</h2>
        </div>
        <div class="text">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores
            numquam pariatur vel ab nulla nostrum obcaecati corrupti unde
            repellendus possimus corporis, eligendi provident odio voluptatibus
            in veniam nisi quaerat quidem?
          </p>
          <div class="list">
            <p>CMS Integration</p>
            <p>Animations</p>
            <p>UX Writing</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="title">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73.32 73.32">
            <path
              d="M73.32,36.66a.49.49,0,0,1-.43.49c-28.21,4.19-31.55,7.54-35.74,35.74a.51.51,0,0,1-.49.43.5.5,0,0,1-.49-.43C32,44.68,28.63,41.34.43,37.15A.51.51,0,0,1,0,36.66a.5.5,0,0,1,.43-.49C28.64,32,32,28.63,36.17.43A.51.51,0,0,1,36.66,0a.5.5,0,0,1,.49.43C41.34,28.64,44.69,32,72.89,36.17A.51.51,0,0,1,73.32,36.66Z"
            />
          </svg>
          <h2>Graphic Design</h2>
        </div>
        <div class="text">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores
            numquam pariatur vel ab nulla nostrum obcaecati corrupti unde
            repellendus possimus corporis, eligendi provident odio voluptatibus
            in veniam nisi quaerat quidem?
          </p>
          <div class="list">
            <p>Video Editing</p>
            <p>Social Media Ads</p>
            <p>...and more</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="featured">
    <h1 class="section-title">/ FEATURED</h1>
    <div id="curs">
      <h3>View project <ng-icon name="ionArrowForward"></ng-icon></h3>
    </div>
    <div class="container">
      <div class="item">
        <div class="img-container">
          <div
            class="img"
            style="
              background-image: url(../../../../assets/images/projects/greenthumb/cover.png);
            "
          ></div>
        </div>
        <div class="text">
          <h2 class="title">Green Thumb</h2>
          <div class="desc">
            <p class="tag">Branding</p>
            <p class="tag">Gardening</p>
            <p class="year">2024</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="img-container">
          <div
            class="img"
            style="
              background-image: url(../../../../assets/images/projects/radiant/cover.png);
            "
          ></div>
        </div>
        <div class="text">
          <h2 class="title">Radiant</h2>
          <div class="desc">
            <p class="tag">Package Design</p>
            <p class="tag">Skincare</p>
            <p class="year">2023</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="img-container">
          <div
            class="img"
            style="
              background-image: url(../../../../assets/images/projects/pixelperfect/logocover.png);
            "
          ></div>
        </div>
        <div class="text">
          <h2 class="title">Pixel Perfect</h2>
          <div class="desc">
            <p class="tag">Branding</p>
            <p class="tag">Photography</p>
            <p class="year">2023</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="img-container">
          <div
            class="img"
            style="
              background-image: url(../../../../assets/images/projects/sparklabs/logocover.png);
            "
          ></div>
        </div>
        <div class="text">
          <h2 class="title">Spark Labs</h2>
          <div class="desc">
            <p class="tag">Branding</p>
            <p class="tag">Coding Solutions</p>
            <p class="year">2023</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="feedback">
    <h1 class="section-title">/ Testimonials</h1>
    <div class="container">
      <div class="title">
        <h2>What they say about me</h2>
      </div>
      <div class="item-container">
        <div class="item">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Exercitationem, facilis totam! Nemo beatae id porro quasi ratione
            dolore et ad.
          </p>
          <div class="profile">
            <h3>Dylan Smith</h3>
            <h4>Package Design</h4>
          </div>
        </div>
        <div class="item">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Exercitationem, facilis totam! Nemo beatae id porro quasi ratione
            dolore et ad.
          </p>
          <div class="profile">
            <h3>Dylan Smith</h3>
            <h4>Package Design</h4>
          </div>
        </div>
        <div class="item">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Exercitationem, facilis totam! Nemo beatae id porro quasi ratione
            dolore et ad.
          </p>
          <div class="profile">
            <h3>Dylan Smith</h3>
            <h4>Package Design</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="contact">
    <h1>Ready to start a project?</h1>
    <div class="links">
      <div class="cta">
        <a href="/">Send me an email</a>
      </div>
      <div class="cta">
        <a href="/">Message me</a>
      </div>
    </div>
  </section>
</main>
