@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Koluta";
  src: url("/fonts/Koluta.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  @apply bg-background-100 text-foreground-100 text-[15px] font-body;
}

main {
  @apply mx-[10rem] sm:mx-[5rem] md:mx-[15rem];
}

* {
  @apply font-body;
}

h1 {
  @apply text-6xl font-bold;
}

h2 {
  @apply text-4xl font-semibold;
}

h3 {
  @apply text-3xl font-medium;
}

h4 {
  @apply text-2xl font-medium;
}

h5 {
  @apply text-lg font-normal;
}

h6 {
  @apply text-base font-normal;
}

p {
  @apply text-lg;
}

p,
button,
a {
  @apply font-body;
}

.primary-button {
  @apply bg-violet-200 px-3 py-1.5 rounded-md;
}

.card {
  @apply p-5 rounded-lg border border-background-400;
}

.box {
  @apply h-1.5 w-1.5 bg-foreground-100;
}

.line {
  height: 1px;
  @apply bg-foreground-100 opacity-10;
}

.navbar {
  @apply z-[99] fixed w-full px-7 py-3 flex items-center justify-between backdrop-blur-md;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.151);
}

.content {
  @apply py-[15rem];
}

.icon-label {
  @apply flex flex-row gap-2.5 items-center;
}

#terminal * {
  @apply font-secondary text-base;
}
