<section class="intro-inner">
  <h1>Works</h1>
  <div class="filter">
    <div class="items">
      <div class="cta">
        <a >All</a>
      </div>
      <div class="cta">
        <a >Design</a>
      </div>
      <div class="cta">
        <a >Development</a>
      </div>
    </div>
    <div class="view">
      <div class="cta">
        <a href="">List</a>
      </div>
      <div class="cta">
        <a href="">Grid</a>
      </div>
    </div>
  </div>
</section>
<section class="work-container">
  
</section>