@import '../../../../styles.scss';

.intro-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  background-color: $clr-background;
  padding: $tb-padding-s $lr-padding;
  height: 70vh;
  
}