<section class="intro-inner">
  <h1>Works</h1>
  <div class="filter">
    <div class="items">
      <div class="cta is-active">
        <a >All</a>
      </div>
      <div class="cta">
        <a >Design</a>
      </div>
      <div class="cta">
        <a >Development</a>
      </div>
    </div>
    <div class="view">
      <div class="cta">
        <a href="">List</a>
      </div>
      <div class="cta">
        <a href="">Grid</a>
      </div>
    </div>
  </div>
</section>
<section class="work-container">
  <div class="layout">
    <div class="item" *ngFor="let item of workItems">
      <div class="cover-img"
      style="background-image: url({{item.coverImage}})"></div>
    </div>
  </div>
</section>