@import '../../../../styles.scss';

.intro-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  background-color: $clr-background;
  padding: $tb-padding-s $lr-padding;
  height: 40vh;

  h1 {
    font-size: 8rem;
    text-transform: uppercase;
  }

  .filter {
    display: flex;
    justify-content: space-between;
    width: 100%;

    div {
      display: flex;
      gap: 0.5rem;
    }

    .is-active {
      background-color: $clr-accent;
      color: $clr-background;
      border: 1px solid transparent;
    }
  }
}

.work-container {
  padding: $tb-padding-md $lr-padding;
  height: 100vh;

  .layout {

    .item {
      .cover-img {
        width: 500px;
        height: 500px;
        background-size: cover;
        background-position: center;
        border-radius: 1rem;
      }
    }
  }
}