@import "../../../../styles.scss";

$easeTrans: 500ms left cubic-bezier(0.71, 0, 0.19, 1.01),
            500ms top cubic-bezier(0.71, 0, 0.19, 1.01),
            500ms color cubic-bezier(0.71, 0, 0.19, 1.01);
$opacityTrans: 500ms opacity cubic-bezier(0.71, 0, 0.19, 1.01);

header {
  position: fixed;
  width: 100%;
  z-index: 100;
  mix-blend-mode: difference;
  transition: $easeTrans;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $small-padding;

    @media screen and (max-width: 500px) {
      padding: $mobile-padding;
    }

    svg,
    span {
      user-select: none;
      color: white;
      cursor: pointer;
    }

    .logo {
      width: 3.5rem;
      svg {
        width: 100%;
        path {
          fill: white;
        }
      }
    }
  }
}

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 $lr-padding-s;
  background-color: $clr-primary;
  text-transform: uppercase;
  height: 100vh;
  width: 100%;
  gap: 4rem;
  z-index: 99;

  .selector-left,
  .selector-right {
    position: absolute;
    user-select: none;
    transition: $easeTrans;
    top: 0rem;
    left: 0rem;
    opacity: 0;
  }

  .selector-right {
    left: 26.3rem;
  }

  .nav-list,
  .nav-links {
    position: relative;
    color: $clr-background;
  }

  .nav-list {
    font-weight: 800;
    font-size: 7rem;
    transform: translateY(-30px);

    li {
      overflow: hidden;
    }

    .nav-item {
      margin-left: 4rem;
      margin-right: 4rem;
      position: relative;
      width: max-content;
      transition: $easeTrans, $opacityTrans;
    }
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0 $lr-padding-s;

    a {
      opacity: 0.5;
      transition: $opacityTrans;

      &:hover {
        opacity: 1;
        transition: $opacityTrans;
      }
    }

    .nav-social {
      display: flex;
      gap: 1rem;
    }
  }
}

.unhovered-item {
  opacity: 0.2;
  transition: $easeTrans, $opacityTrans;
}

@media screen and (max-width: 500px) {
  nav {
    padding: $mobile-padding;

    .nav-list {
      font-size: 4rem;
      .selector-left,
      .selector-right {
        visibility: hidden;
      }
      .nav-item {
        margin: 0;
      }
    }

    .nav-links {
      font-size: 1rem;
      flex-direction: column;
      align-items: start;
      padding: 0;
      gap: 1rem;
    }
  }
}
