@import '../../../../styles.scss';

header {
  position: fixed;
  mix-blend-mode: difference;
  width: 100%;
  z-index: 100;
  
  .container {
    h1, span {
      user-select: none;
      color: white;
    }
    
    span {
      cursor: pointer;
    }
  }
}

nav {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: $clr-purple-dark;
  text-transform: uppercase;
  z-index: 99;

  .nav-list, .nav-links {
    color: $clr-white;
  }

  .nav-list {
    font-size: 7rem;
  }

  .nav-links {
    font-weight: 500;
    font-size: 1.2rem;
  }
}