@import '../../../../styles.scss';

header {
  position: fixed;
  mix-blend-mode: difference;
  width: 100%;

  .container {
    padding: .7em 5em;
  }

  svg {
    cursor: pointer;
    width: 60px;

    .cls-1 {
      fill: white;
    }
  }

  .nav-button {
    flex-direction: column;
    gap: 10px;
    height: 60px;

    span {
      user-select: none;
      cursor: pointer;
      font-size: $text-size-s;
      color: white;
    }
  }
}

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  border-radius: 1em;
  top: 5em;
  right: 3em;
  width: 23em;
  height: 26em;
  color: white;
  background-color: $secondary-color;
  clip-path: circle(0 at 100% 0);
  transition: 500ms ease;

    .nav-items {
      align-self: flex-start;
      font-size: 3em;
      font-weight: 600;
      gap: 5px;

      a {
        display: block;
        line-height: 55px;
      }
    }

    .nav-links {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
}