<section class="container">
  <h1>Login</h1>
  <br>
  <div class="form">
    <input type="text" 
    [(ngModel)]="username"
    placeholder="Enter username">
    <br>
    <input type="password" 
    [(ngModel)]="password"
    placeholder="Enter password">
    <br>
    <button (click)="login()">Login</button>
    <div *ngIf=isAuthenticated>
      <div class="line">
        <span>OR</span>
      </div>
      <button class="logout" (click)="logout()">Logout</button>
    </div>
  </div>
  <app-popup
    *ngIf="true"
    style="position: fixed;"
    [message]="message"
  ></app-popup>
</section>
