@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap');

:root {
  // colors
  --clr-purple: #8a29e6;
  --clr-purple-dark: #231c2f;
  --clr-white: #f9f5fc;
  --clr-pink: #e94bd4;
  --clr-green: #4de212;
}

$clr-purple: var(--clr-purple);
$clr-purple-dark: var(--clr-purple-dark);
$clr-white: var(--clr-white);
$clr-pink: var(--clr-pink);
$clr-green: var(--clr-green);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Instrument Sans', sans-serif;
}
body {
  font-size: 18px;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, ol {
  list-style-type: none;
}

// componenets
.header-inner {
  padding-left: 5rem;
  padding-right: 15rem;
}
.cta {
  max-width: max-content;
  padding-bottom: 3px;
  border-bottom: 1px solid $clr-purple-dark;
  
  a {
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: .2rem;
    
    &:hover ng-icon {
      rotate: 0deg;
    }
    
    ng-icon {
      transition: 300ms ease;
      rotate: -45deg;
    }
  }
}


// layout
.grid {
  display: grid;
}
.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-row-2 {
  grid-template-rows: repeat(2, auto);
}
.col-span-2 {
  grid-column-start: span 2;
}
.row-span-2 {
  grid-row-start: span 2;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.between-center {
  justify-content: space-between;
  align-items: center;
}
.end-start {
  justify-content: end;
  align-items: start;
}
.place-center {
  place-content: center center;
}
.between-start {
  justify-content: space-between;
  align-items: start;
}
.start {
  align-items: start;
}
.between-end {
  justify-content: space-between;
  align-items: end;
}
.end {
  align-items: end;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100vh;
}
.hidden {
  overflow: hidden;
}


// padding, margin, and spacing

// fixed
.lr-padding {
  padding-left: 5rem;
  padding-right: 5rem;
}
.tb-padding {
  padding-top: 15rem;
  padding-bottom: 10rem;
}

// flexible
.tb-padding-xs {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.tb-padding-s {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.tb-padding-md {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.tb-padding-lg {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.row-gap-xs {
  row-gap: 1rem;
}
.row-gap-s {
  row-gap: 2rem;
}
.row-gap-md {
  row-gap: 3rem;
}
.row-gap-lg {
  row-gap: 4rem;
}
.row-gap-xl {
  row-gap: 8rem;
}
.row-gap-xxl {
  row-gap: 10rem;
}
.row-gap-xl {
  row-gap: 5rem;
}
.col-gap-xs {
  column-gap: 1rem;
}
.col-gap-s {
  column-gap: 2rem;
}
.col-gap-lg {
  column-gap: 4rem;
}
.col-gap-xxl {
  column-gap: 10rem;
}
.p-right-lg {
  padding-right: 4rem;
}
.spacing-md {
  margin-bottom: 3rem;
}
.spacing-t-xxl {
  margin-top: 10rem;
}


// typography
.header {
  h1 {
    font-size: 6rem;
    font-weight: 500;
  }
}
.label {
  font-weight: 500;
}
.text-bold {
  font-weight: 700;
}


// decorations
.line {
  height: 1.2px;
  width: 100%;
  background-color: $clr-purple-dark;
}
.clr-white {
  background-color: $clr-white;
}
.clr-purple {
  background-color: $clr-purple;
}
.clr-purple-dark {
  background-color: $clr-purple-dark;
}
.clr-pink {
  background-color: $clr-pink;
}


.open-wrap {
  position: fixed;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: 100vh;
  z-index: 169;

  div {
    display: block;
    position: relative;
    background-color: $clr-purple;
    top: 0;
    transition: 800ms cubic-bezier(.41,0,.09,1);
  }
}