@import "../../../../styles.scss";

footer {
  background-color: $clr-primary;
  color: $clr-background;
  padding: $tb-padding-s 0;

  .line {
    background-color: $clr-background;
    opacity: 0.05;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: column;
    padding: $top-stretch-padding;
    gap: 3rem;

    @media screen and (max-width: 500px) {
      padding: $mobile-padding;
    }

    .label {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    .desc {
      max-width: 20ch;
      margin-bottom: 2.5rem;
      line-height: 1.8rem;

      @media screen and (max-width: 500px) {
        margin-bottom: 1.7rem;
      }
    }

    .top-wrapper,
    .bottom-wrapper {
      display: grid;
      grid-template-columns: 40% 30% 30%;

      @media screen and (max-width: 500px) {
        display: flex;
        flex-direction: column;
        gap: 3rem;
      }

      .links {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        a {
          font-size: 1.2rem;
        }
      }

      .contact {
        gap: 2rem;
        grid-column-start: 2;
      }
    }

    .bottom-wrapper {
      align-items: end;

      @media screen and (max-width: 500px) {
        align-items: center;
        gap: 0.3rem;

        svg {
          margin: 1rem 0;
          order: 2;
        }
        .copyright {
          order: 3;
        }
      }

      a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 500;
        cursor: pointer;
        
        ng-icon {
          font-size: 1.5rem;
          rotate: 0deg;
        }
      }

      svg {
        max-width: 15rem;

        path {
          fill: $clr-background;
        }
      }
    }
  }
}
